


/* header start*/

header {
    position: absolute;
    width: 100%;
    height: 852px;
    left: 0px;
    top: 0px;
    margin: auto;
    background: #29182E;
}

.nav {
position: absolute;
width: 393px;
height: 81px;
left: 0px;
top: 0px;
}

.facebook {
position: absolute;
width: 214px;
height: 40px;
left: 90px;
top: 20px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 40px;
/* identical to box height */

letter-spacing: 0.15em;
text-transform: uppercase;

color: #F14C36;
}

.title-text {
    position: absolute;
width: 100%;
height: 96px;
left: 0px;
top: 265px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 48px;
/* or 120% */

text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;

color: #F6F7F1;

}

.title-body {
    position: absolute;
width: 100%;
height: 100px;
left: 0px;
top: 386px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;

color: #F6F7F1;
}

.get-started {
    position: absolute;
width: 250px;
height: 60px;
left: 72px;
top: 526px;

background: #F14C36;
border-radius: 50px;
}

.get-started span {
    position: absolute;
width: 167px;
height: 20px;
left: 41px;
top: 20px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 500;
/*font-size: 20px;*/
line-height: 20px;
/* identical to box height, or 100% */
letter-spacing: 0.15em;
text-transform: uppercase;
text-align: center;
color: #F6F7F1;
}

.man {
    display: none;
}

/* header end*/

/* upper middle start*/

.upper-middle {
position: absolute;
width: 100%;
height: 852px;
left: 0px;
top: 852px;

background: #F6F7F1;
}

.phone {
position: absolute;
width: 293px;
height: 603.34px;
padding-left: 3rem;
top: 44px;

}

.upper-middle-title {
    position: absolute;
width: 343px;
height: 60px;
left: 25px;
top: 672px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 30px;
/*display: flex;*/
align-items: center;
text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;
flex-wrap: wrap;
text-align: center;

color: #29182E;
}

.upper-middle-text {
    position: absolute;
width: 343px;
height: 60px;
left: 25px;
top: 747px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #29182E;
}

/* upper middle end*/

/* lower middle start*/
.lower-middle {
    position: absolute;
width: 100%;
height: 852px;
left: 0px;
top: 1704px;


background: #F6F7F1;
}

.lower-title {

width: 100%;
height: 60px;
left: 25px;
top: 44px;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 30px;
text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #29182E;
}

.key-articles {
display: flex;
flex-direction: column;
justify-content: space-around;
padding: 0.5rem;
align-items: center;
}

.unity-title .uni{
    width: 243px;
    height: 176px;
    text-align: center;
}

.unityh3 {
width: 79px;
height: 28px;
padding: 0 78px 0 78px;
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
letter-spacing: 0.15em;
text-transform: uppercase;
}

.unity-text {
width: 243px;
height: 80px;
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;
}

.privacy-title {
width: 243px;
height: 176px;
}

.privacyh3 {
width: 109px;
height: 28px;
padding: 0 78px 0 78px;
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
letter-spacing: 0.15em;
text-transform: uppercase;
}

.privacy-text {
width: 243px;
height: 80px;
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;
}

.carity-title {
width: 243px;
height: 176px;
}

.clarityh3 {
width: 108px;
height: 28px;
padding: 0 78px 0 78px;
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
letter-spacing: 0.15em;
text-transform: uppercase;
}

.clarity-text {
width: 243px;
height: 100px;
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
}
/* lower middle end*/

/* footer start*/
.footer {
    background-color: #29182E;
    position: absolute;
width: 100%;
height: 100%;
left: 0px;
top: 2556px;
}

#fbook {
    position: absolute;
width: 214px;
height: 40px;
left: 90px;
top: 50px;
border-bottom: 0px black solid;

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 40px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.15em;
text-transform: uppercase;

color: #F14C36;
}

.useful-links {
display: flex;
font-family: 'Lexend Deca';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
padding-top: 120px;
text-align: center;

/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.15em;
text-transform: uppercase;
flex-direction: column;
color: #ECB20D;
}

.final-note .foot-note {

font-family: 'Lexend Deca';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
/* identical to box height */

display: flex;
flex-direction: column;
justify-items: flex-end;
align-items: center;
letter-spacing: 0.15em;
text-transform: uppercase;
padding-top: 80px;
color: #F6F7F1;

}




/* footer end*/

/* media start*/

@media screen and (min-width:725px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
    }

    .header {
    height:768px;
    display:block;
    
    }
    .nav {
        justify-content: space-between;
    }

    .title-text {
        width:calc(100% - 500px);
        margin:0;
        padding-left: 50px;
        
    }

    .title-body {
        width:calc(100% - 500px);
        margin:0;
        padding-left: 50px;
        
    }

    .get-started {
        display: flex;
        position: relative;
        left: 320px
    }

    .man {
    display: inline-block;
    width:500px;
    position: relative;
    float: right;
    }

    .upper-middle-title {
        left: 60%;
        text-align: right;
        display: inline-block;
        position: absolute;
        top: 300px;
        
    }

    .upper-middle-text {
        left: 60%;
        text-align: right;

        position: absolute;
        top: 400px;
    }

    .key-articles{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0.5rem;
        justify-items: center;
    }

    .lower-middle{
        height: auto;
    }

    .lower-title {
        display: flex;
        flex-direction: column;
    }
    h3 .clar .priv .uni {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 20px 30px;
        text-align: center;
    }

    .footer {
        height: fit-content;
        top: 2005px;
    }

    .useful-links ul {
        display: flex;
        justify-content: space-between;
        list-style-type:none;
        padding:20px 30px;

    }

    li {
        padding-left: 40px;
    }
    .foot-note {
        
    }
}
/* media end*/